{% extends './base.html' %}

{% load static %}
{% load humanize %}

{% block style %}
<link href="{% static 'css/table.css' %}" rel="stylesheet">
<link href="{% static 'css/pagination.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-light rounded h-100 p-4">
                <div class="title-table d-flex justify-content-between mb-2">
                    {% block table_title %}
                    {% endblock %}
                    <div>
                        <a href="?">
                            <button type="button" class="btn btn-secondary">
                                <i class="fa fa-refresh"></i> Reset Order
                            </button>
                        </a>
                        <a href="{{ create_url }}">
                            <button type="button" class="btn btn-primary">Create</button>
                        </a>
                    </div>
                </div>
                {% include '../component/error_message.html' %}
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            {% block table_header %}
                            {% endblock %}
                        </thead>
                        <tbody>
                            {% block table_data %}
                            {% endblock %}
                        </tbody>
                    </table>
                </div>

                <!-- PAGINATION -->
                {% include './pagination.html' %}
            </div>
        </div>
    </div>
</div>

{% endblock %}