{% extends '../../component/detail.html' %}

{% block title %}
<title>Detail Application</title>
{% endblock %}

{% block title_detail_data %}
<h3 class="mb-4">Detail Application</h3>
<a href="{% url 'application_tracker:list_application' %}">
    <button type="submit" class="btn btn-primary mb-4">Back</button>
</a>
{% endblock %}

{% block detail_data %}
    <div class="row mb-3">
        <label for="inputPosition" class="col-sm-2 col-form-label">Position</label>
        <div class="col-sm-10">
            <input type="position" class="form-control" id="inputPosition" name="position" value="{{data.position}}" disabled>
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputCompany" class="col-sm-2 col-form-label">Company</label>
        <div class="col-sm-10">
            <input type="company" class="form-control" id="inputCompany" name="company" value="{{data.company}}" disabled>
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputPlatform" class="col-sm-2 col-form-label">Platform</label>
        <div class="col-sm-10">
            <select class="form-select" id="inputPlatform" aria-label="Floating label select example" name="platform" disabled>
                <option value="{{data.platform}}" selected>{{data.platform}}</option>
            </select>
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputSourceLink" class="col-sm-2 col-form-label">Source Link</label>
        <div class="col-sm-10">
            <input type="source_link" class="form-control" id="inputSourceLink" name="source_link" value="{{data.source_link}}" disabled>
        </div>
    </div>

    <div class="mt-5" style="display: flex; justify-content: space-between;">
        <h3>Application Progress</h3>
        <a href="{% url 'application_tracker:create_application_history' data.id %}">
            <button type="submit" class="btn btn-primary mb-4">Add Progress</button>
        </a>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">ID</th>
                    <th scope="col">Status</th>
                    <th scope="col">Update Date</th>
                    <th scope="col">Note</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for history in histories %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{history.id}}</td>
                        <td>{{history.status}}</td>
                        <td>{{history.update_status_at}}</td>
                        <td>{{history.note}}</td>
                        <td>
                            <a href="{% url 'application_tracker:delete_application_history' data.id history.id %}">
                                <i class="fa fa-eraser"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}