{% extends '../../component/form.html' %}

{% block title %}
<title>Edit Application</title>
{% endblock %}

{% block title_form_create %}
<h3 class="mb-4">Edit Application</h3>
{% endblock %}

{% block form_create %}
    <div class="row mb-3">
        <label for="inputPosition" class="col-sm-2 col-form-label">Position</label>
        <div class="col-sm-10">
            <input type="position" class="form-control" id="inputPosition" name="position" value="{{data.position}}">
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputCompany" class="col-sm-2 col-form-label">Company</label>
        <div class="col-sm-10">
            <input type="company" class="form-control" id="inputCompany" name="company" value="{{data.company}}">
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputPlatform" class="col-sm-2 col-form-label">Platform</label>
        <div class="col-sm-10">
            <select class="form-select" id="inputPlatform" aria-label="Floating label select example" name="platform">
                {% for value in platform %}
                <option value="{{value.id}}" {% if data.platform|stringformat:"s" == value.name|stringformat:"s" %} selected {% endif %}>{{value.name}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputSourceLink" class="col-sm-2 col-form-label">Source Link</label>
        <div class="col-sm-10">
            <input type="source_link" class="form-control" id="inputSourceLink" name="source_link" value="{{data.source_link}}">
        </div>
    </div>
{% endblock %}